/* GENERAL */
body {
  background-color: #efeff2;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.clear-container {
  margin: -2% -2% 0 -2%;
}

.wrapper .header .nav-links {
  color: #4b4b4b;
}

.wrapper .container .content {
  color: #4b4b4b;
}

a {
  color: #4b4b4b;
}

a:hover {
  color: #4b4b4b;
  text-decoration: none;
}

/* HEADER */

.header {
  background-color: #a69eb0;
  margin: -2% -2% 0 -2%;
}

.header-text {
  color: #efeff2;
  font-family: 'Jura', sans-serif;
}

.button-tag {
  margin-bottom: 0;
  font-size: 0.8em;
}

.questions-comments {
  margin: 10px 0 10px 0;
}

/* FOOTER */
/*footer {
  background-color: #f2e2cd;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
}*/

/* SEARCH */

.search {
  /*text-align: center;*/
}

.search input[type=text] {
  width: 400px;
  border-radius: 5px;
}

/* FROM EMBER STARTER KIT */
.ember-application {
    margin: 20px;
}