/* GENERAL */
body {
  background-color: #efeff2;
}

/* HEADER */

.header {
  background-color: #a69eb0;
  margin: -2% -2% 0 -2%;
}

.header-text {
  color: #efeff2;
}

.button-tag {
  margin-bottom: 0;
  font-size: 0.8em;
}

.questions-comments {
  margin: 10px 0 10px 0;
}

/* SEARCH */

.search {
  text-align: center;
}

.search input[type=text] {
  width: 400px;
  border-radius: 5px;
}

/* FROM EMBER STARTER KIT */
.ember-application {
    margin: 20px;
}